services:

  openclaw:
    build:
      context: .
    container_name: openclaw
    ports:
      - "0.0.0.0:18789:18789"
    environment:
      - OPENCLAW_GATEWAY_TOKEN=${OPENCLAW_GATEWAY_TOKEN:-changeme-supersecret}
    command: >
      bash -lc "openclaw gateway --bind lan --port 18789 --allow-unconfigured --verbose"

